<!DOCTYPE html><html>
<head><meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carado Produktion - Carado</title>
	<link rel="stylesheet" href="/Resources/Public/Styles/App.css" media="all"/>
	<link rel="stylesheet" href="/Resources/Public/Styles/Backend.css" media="all" />
	<script src="/Resources/Public/Scripts/App.js"></script>
	<meta name="robots" content="index,follow" /><link rel="canonical" href="/unternehmen/carado-produktion.html" />
</head>
<body class="page layout-container">
	<!-- content collection START: /sites/foundation-site/top@live -->
	<div class="sticky">
		<ul class="m12-foundation-sidenav side-nav main-navigation">
			<dt></dt>
			<li class="menu-item--modelle has-dropdown">
				<a href="/modelle.html">Modelle</a>
				<ul>
					<li class="menu-item--alkoven">
						<a href="/modelle/alkoven.html">Alkoven</a>
					</li>
					<li class="menu-item--teilintegrierte">
						<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--service-zubehoer has-dropdown">
				<a href="/service-zubehoer.html">Service &amp; Zubehör</a>
				<ul>
					<li class="menu-item--fahrzeugsuche">
						<a href="/service-zubehoer/fahrzeugsuche.html">Fahrzeugsuche</a>
					</li>
					<li class="menu-item--carado-original-teile-zubehor">
						<a href="/service-zubehoer/carado-original-teile-zubehor.html">Carado Original Teile &amp; Zubehör</a>
					</li>
					<li class="menu-item--carado-freeontour-kundenkarte">
						<a href="/service-zubehoer/carado-freeontour-kundenkarte.html">Carado Freeontour Kundenkarte</a>
					</li>
					<li class="menu-item--finanzierung">
						<a href="/service-zubehoer/finanzierung.html">Finanzierung</a>
					</li>
					<li class="menu-item--ratgeberfilme">
						<a href="/service-zubehoer/ratgeberfilme.html">Ratgeberfilme</a>
					</li>
					<li class="menu-item--rettungskarten">
						<a href="/service-zubehoer/rettungskarten.html">Rettungskarten</a>
					</li>
					<li class="menu-item--bedienungsanleitungen">
						<a href="/service-zubehoer/bedienungsanleitungen.html">Bedienungsanleitungen</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--handelspartner">
				<a href="/handelspartner.html">Handelspartner</a>
			</li>
			<li class="menu-item--unternehmen active-trail has-dropdown">
				<a href="/unternehmen.html">Unternehmen</a>
				<ul>
					<li class="menu-item--carado-produktion active">
						<a href="/unternehmen/carado-produktion.html">Carado Produktion</a>
					</li>
					<li class="menu-item--werksfuehrung">
						<a href="/unternehmen/werksfuehrung.html">Werksführung</a>
					</li>
					<li class="menu-item--erwin-hymer-museum">
						<a href="/unternehmen/erwin-hymer-museum.html">Erwin Hymer Museum</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--konfigurator">
				<a href="/konfigurator.html">Konfigurator</a>
			</li>
			<li class="menu-item--presse">
				<a href="/presse.html">Presse</a>
			</li>
		</ul>
	</div>
	<ul class="m12-foundation-sidenav side-nav language-navigation">
		<li class="m12-foundation-navitem active">
			<a>
				DE
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				EN
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				FR
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				ES
			</a>
		</li>
	</ul>
	<dl class="m12-foundation-subnav sub-nav sub-navigation">
		<dt></dt>
		<dd class="menu-item--carado-produktion active">
			<a href="/unternehmen/carado-produktion.html">Carado Produktion</a>
		</dd>
		<dd class="menu-item--werksfuehrung">
			<a href="/unternehmen/werksfuehrung.html">Werksführung</a>
		</dd>
		<dd class="menu-item--erwin-hymer-museum">
			<a href="/unternehmen/erwin-hymer-museum.html">Erwin Hymer Museum</a>
		</dd>
	</dl>
	<!-- content collection END: /sites/foundation-site/top@live -->
	<main class="row">
		<div class="small-12 columns">
			<!-- content collection START: /sites/foundation-site/node-57a9f3043b985/node-57aa1fa95b6bb/main@live --><!-- TYPO3.Neos.NodeTypes:Headline -->
			<h1>Carado –<br/>Made in Germany.<br/></h1>
			<!-- /TYPO3.Neos.NodeTypes:Headline --><!-- TYPO3.Neos.NodeTypes:Text -->
			<p>Die Wiege unserer Carado-Modelle befindet sich in der einzigartigen Landschaft der Sächsischen Schweiz in der Nähe von Dresden. Hier liegt Neustadt in Sachsen, wo unser Produktionswerk Capron angesiedelt ist. Dieses gehört zu den modernsten seiner Art in Europa. 2005 entstand das Unternehmen als Teil der Erwin-Hymer-Group mit dem Ziel hochwertige Reisemobile und Caravans im Einsteigersegment zum fairen Preis zu produzieren. Um diese gesteckten Ziele zu erreichen, setzt man im Werk auf eine durchdachte Logistik, effiziente Arbeitsabläufe und einen modernen Maschinenpark. Das Wichtigste jedoch sind die Mitarbeiter. Gut ausgebildet und hoch motiviert sind sie der Garant für unbeschwerte Reiseerlebnisse, welche jeder Carado bietet.</p>
			<!-- /TYPO3.Neos.NodeTypes:Text --><!-- M12.Foundation:Orbit -->
			<ul class="m12-foundation-orbit" data-options="bullets:true;navigation_arrows:true;next_on_click:true;slide_number:false;timer:true;variable_height:true;swipe:true;pause_on_hover:true;resume_on_mouseout:true;next_on_click:false;" data-orbit>
				<li data-orbit-slide="1">
					<figure class="typo3-neos-nodetypes-image">
						<img alt="Carado-Produktion im deutschen Werk" src="/Resources/Public/ContentImages/Carado-im-Werk.jpg" width="1959" height="1307" />
					</figure>
				</li>
				<li data-orbit-slide="2">
					<figure class="typo3-neos-nodetypes-image">
						<a href="/service-zubehoer/finanzierung.html">
							<img alt=" " src="/Resources/Public/ContentImages/EHymer-Museum-Aussenansicht-01.jpg" width="2560" height="1863" />
						</a>
						<figcaption class="orbit-caption">
							Slide 2 caption
						</figcaption>
					</figure>
				</li>
			</ul>
			<!-- /M12.Foundation:Orbit --><!-- TYPO3.Neos.NodeTypes:Text -->
			<p>Mit hohem Können und professioneller Ruhe fertigen sie jedes einzelne Fahrzeug nach den jeweiligen Kundenwünschen. Bis zu 28 Fahrzeuge verlassen derzeit täglich die 450 m lange Produktionsstraße. Neben der eigentlichen Produktionslinie befinden sich in den großen, lichtdurchfluteten Produktionshallen auch eine eigene Möbelproduktion und die Seitenwandvorfertigung. Hier entstehen die zur Montage eines jeden Carado Reisemobils oder Caravans benötigten Möbelteile, Seitenwände und Dächer.</p>
			<p>Bereits während der Produktion durchlaufen alle Carado-Modelle mehrere Qualitätstore, um einen gleichbleibenden, hohen Standard sicher zu stellen. Zum Abschluss erfolgt am Ende der Fertigungslinie die Endabnahme. Ab hier beginnen die eigentlichen, großen Reisen der Carado-Fahrzeuge.</p>
			<!-- /TYPO3.Neos.NodeTypes:Text --><!-- content collection END: /sites/foundation-site/node-57a9f3043b985/node-57aa1fa95b6bb/main@live -->
		</div>
	</main>
	<footer>
		<!-- PLEASE ADD YOUR OWN HTML HERE -->
	</footer>
</body>
</body></html>
