<!DOCTYPE html><html>
<head><meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carado Produktion - Carado</title>
	<link rel="stylesheet" href="/_Resources/Static/Packages/M12.FoundationSite/Styles/App.css" media="all"/>
	<link rel="stylesheet" href="/_Resources/Static/Packages/M12.FoundationSite/Styles/Backend.css" media="all" />
	<script src="/_Resources/Static/Packages/M12.FoundationSite/Scripts/App.js"></script>
	<meta name="robots" content="index,follow" /><link rel="canonical" href="/unternehmen/carado-produktion.html" />
</head>
<body class="page layout-container">
	<!-- content collection START: /sites/foundation-site/top@live -->
	<div class="sticky">
		<ul class="m12-foundation-sidenav side-nav main-navigation">
			<dt></dt>
			<li class="menu-item--modelle active-trail has-dropdown">
				<a href="/modelle.html">Modelle</a>
				<ul>
					<li class="menu-item--die-basis active">
						<a href="/modelle/die-basis.html">Die Basis</a>
					</li>
					<li class="menu-item--alkoven">
						<a href="/modelle/alkoven.html">Alkoven</a>
					</li>
					<li class="menu-item--teilintegrierte">
						<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--service-zubehoer has-dropdown">
				<a href="/service-zubehoer.html">Service &amp; Zubehör</a>
				<ul>
					<li class="menu-item--fahrzeugsuche">
						<a href="/service-zubehoer/fahrzeugsuche.html">Fahrzeugsuche</a>
					</li>
					<li class="menu-item--carado-original-teile-zubehor">
						<a href="/service-zubehoer/carado-original-teile-zubehor.html">Carado Original Teile &amp; Zubehör</a>
					</li>
					<li class="menu-item--carado-freeontour-kundenkarte">
						<a href="/service-zubehoer/carado-freeontour-kundenkarte.html">Carado Freeontour Kundenkarte</a>
					</li>
					<li class="menu-item--finanzierung">
						<a href="/service-zubehoer/finanzierung.html">Finanzierung</a>
					</li>
					<li class="menu-item--ratgeberfilme">
						<a href="/service-zubehoer/ratgeberfilme.html">Ratgeberfilme</a>
					</li>
					<li class="menu-item--rettungskarten">
						<a href="/service-zubehoer/rettungskarten.html">Rettungskarten</a>
					</li>
					<li class="menu-item--bedienungsanleitungen">
						<a href="/service-zubehoer/bedienungsanleitungen.html">Bedienungsanleitungen</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--handelspartner">
				<a href="/handelspartner.html">Handelspartner</a>
			</li>
			<li class="menu-item--unternehmen has-dropdown">
				<a href="/unternehmen.html">Unternehmen</a>
				<ul>
					<li class="menu-item--carado-produktion">
						<a href="/unternehmen/carado-produktion.html">Carado Produktion</a>
					</li>
					<li class="menu-item--werksfuehrung">
						<a href="/unternehmen/werksfuehrung.html">Werksführung</a>
					</li>
					<li class="menu-item--erwin-hymer-museum">
						<a href="/unternehmen/erwin-hymer-museum.html">Erwin Hymer Museum</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--konfigurator">
				<a href="/konfigurator.html">Konfigurator</a>
			</li>
			<li class="menu-item--presse">
				<a href="/presse.html">Presse</a>
			</li>
		</ul>
	</div>
	<ul class="m12-foundation-sidenav side-nav language-navigation">
		<li class="m12-foundation-navitem active">
			<a>
				DE
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				EN
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				FR
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				ES
			</a>
		</li>
	</ul>
	<dl class="m12-foundation-subnav sub-nav sub-navigation">
		<dt></dt>
		<dd class="menu-item--die-basis active">
			<a href="/modelle/die-basis.html">Die Basis</a>
		</dd>
		<dd class="menu-item--alkoven">
			<a href="/modelle/alkoven.html">Alkoven</a>
		</dd>
		<dd class="menu-item--teilintegrierte">
			<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
		</dd>
	</dl>
	<!-- content collection END: /sites/foundation-site/top@live -->
	<main class="row">
		<div class="small-12 columns">
			<!-- content collection START: /sites/foundation-site/node-57a9efbfea1dc/node-57aa363fdfafb/main@live --><!-- TYPO3.Neos.NodeTypes:Headline -->
			<h1>Die Basis aller Modelle.</h1>
			<!-- /TYPO3.Neos.NodeTypes:Headline -->
			<figure class="typo3-neos-nodetypes-image">
				<a data-reveal-id="modal-image-fc164fac-ade9-4cb9-912e-cace10e76d30">
					<img alt="Foto: Grundgerüst aller Wohnmobile ist ein Fiat Ducato" src="/_Resources/Persistent/fe7d558260dc4dc4d23daa799ea4708f5e34360a/Cabinato-Chassis-Special-sw.jpg" width="1496" height="898" />
				</a>
				<div id="modal-image-fc164fac-ade9-4cb9-912e-cace10e76d30" data-reveal class="reveal-modal reveal-modal--image xlarge text-center">
					<img src="/_Resources/Persistent/fe7d558260dc4dc4d23daa799ea4708f5e34360a/Cabinato-Chassis-Special-sw.jpg" alt class="th" />
					<figcaption>
					</figcaption>
					<a class="close-reveal-modal">×</a>
				</div>
			</figure>
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<h2>Das Chassis</h2>
			<p>Es ist ein Fiat. Ein Ducato, um genau zu sein. Und das hat seinen guten Grund: Kein anderes  Fahrzeug bewegt ein Reisemobil so verlässlich. Ganz konkret heißt das: 2,3 l Multijet mit 96 kW / 130 PS, Multijet-Direkteinspritzung, Abgasnorm EURO 6, ABS, EBD, Breitspurfahrwerk für mehr Fahrstabilität und Bordcomputer sind nur einige der vielen technischen Fakten, die den Ducato zum perfekten Basismodell machen. Mehr technische Details in der Preisliste.<br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<h2>Der Aufbau</h2>
			<p>Es ist ein Fiat. Ein Ducato, um genau zu sein. Und das hat seinen guten Grund: Kein anderes  Fahrzeug bewegt ein Reisemobil so verlässlich. Ganz konkret heißt das: 2,3 l Multijet mit 96 kW / 130 PS, Multijet-Direkteinspritzung, Abgasnorm EURO 6, ABS, EBD, Breitspurfahrwerk für mehr Fahrstabilität und Bordcomputer sind nur einige der vielen technischen Fakten, die den Ducato zum perfekten Basismodell machen. Mehr technische Details in der Preisliste.<br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<figure class="typo3-neos-nodetypes-image add-diagonal-line">
				<img alt="Darstellung am Beispiel des T448" src="/_Resources/Persistent/14a2b252b6bcbba718059f2ca491ed0e1a02900f/16%20Carado_T132-Taviano_d.png" width="1633" height="835" />
				<figcaption class="orbit-caption">
					<p>Darstellung am Beispiel des T448</p>
				</figcaption>
			</figure>
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<h2>Schön wenn man richtig liegt.</h2>
			<p>Egal, wo man steht, sitzt und liegt: Es fühlt sich gut an. Die hochwertigen Schranksysteme, Stauräume, Polstermöbel und Betten mit Lattenrost oder Clima-Plux Elementen (im Hubbett) sind bis ins Detail durchdacht und zum Wohlfühlen gemacht.<br/>
				<br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- M12.Foundation:Orbit -->
			<ul class="m12-foundation-orbit" data-options="bullets:true;navigation_arrows:true;next_on_click:true;slide_number:false;timer:true;variable_height:true;swipe:true;pause_on_hover:true;resume_on_mouseout:true;next_on_click:false;" data-orbit>
				<li data-orbit-slide="1">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/f4cce76608c5a8d576ef2829f86694803eb82003/Carado-GmbH-Modell-T334-Tiefer-Schlaf-und-ganz-viel-Platz-im-bequemen-Querbett.jpg" width="2252" height="1582" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448</p>
						</figcaption>
					</figure>
				</li>
				<li data-orbit-slide="2">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/f4cce76608c5a8d576ef2829f86694803eb82003/Carado-GmbH-Modell-T334-Tiefer-Schlaf-und-ganz-viel-Platz-im-bequemen-Querbett.jpg" width="2252" height="1582" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448<br/>
							</p>
						</figcaption>
					</figure>
				</li>
				<li data-orbit-slide="3">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/f4cce76608c5a8d576ef2829f86694803eb82003/Carado-GmbH-Modell-T334-Tiefer-Schlaf-und-ganz-viel-Platz-im-bequemen-Querbett.jpg" width="2252" height="1582" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448<br/>
							</p>
						</figcaption>
					</figure>
				</li>
			</ul>
			<!-- /M12.Foundation:Orbit -->
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<h2>Perfekt zubereitet: Die Küche.</h2>
			<p>Kühlschrank mit Gefrierfach, Gasherd mit Zündsicherung, ergonomisch optimierte Arbeitsbereiche – die Küche in den Reisemobilen ist perfekt an den Raum angepasst und hat dabei alles, was das Herz begehrt. Oder besser <br/>gesagt der Bauch.<br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<h2>Perfekt zubereitet: Die Küche.</h2>
			<p>Kühlschrank mit Gefrierfach, Gasherd mit Zündsicherung, ergonomisch optimierte Arbeitsbereiche – die Küche in den Reisemobilen ist perfekt an den Raum angepasst und hat dabei alles, was das Herz begehrt. Oder besser gesagt der Bauch.</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<h2>Basisspecs</h2>
			<table>
				<tbody>
					<tr>
						<td>Modell</td>
						<td>Fiat Ducato</td>
					</tr>
					<tr>
						<td>Basis-Motorisierung</td>
						<td>2,3l Multijet</td>
					</tr>
					<tr>
						<td>Leistung kW (PS)</td>
						<td>96 (130)</td>
					</tr>
					<tr>
						<td>Technisch zugl. Gesamtmasse (kg)</td>
						<td>3.495</td>
					</tr>
					<tr>
						<td>Anhängel. 12% gebremst / ungebremst (kg)</td>
						<td>2.000 / 750</td>
					</tr>
					<tr>
						<td>Bereifung</td>
						<td>215/70 R 15 C</td>
					</tr>
					<tr>
						<td>Wasservorrat inkl. Boiler / Abwassertank (Liter)</td>
						<td>122 (20) / 92</td>
					</tr>
					<tr>
						<td>Batterie / Ladegerät (Ah / A)</td>
						<td>95 / 18</td>
					</tr>
				</tbody>
			</table>
			<p>
			</p>
			<p class="aloha-editing-p">
				<br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<figure class="typo3-neos-nodetypes-image is-button-image">
				<a href="/modelle/alkoven.html">
					<img title="Zu den Alkoven" alt="Wohnmobil fährt auf Streße" src="/_Resources/Persistent/24926a4f31ac44fc3e569e6941f1210c193c0a9d/Wohnmobil-auf-Autobahn-3295x2174-2560x1689.jpg" width="2560" height="1689" />
				</a>
				<figcaption class="orbit-caption">
					<p> </p>
					<p>Zu den Alkoven </p>
				</figcaption>
			</figure>
			<figure class="typo3-neos-nodetypes-image is-button-image">
				<a href="/modelle/teilintegrierte.html">
					<img title="Zu den Teilintegrierten  " alt="Zu den Teilintegrierten  " src="/_Resources/Persistent/4c11617fd71550c792ff4b62df87833abebce029/Wohnmobil-auf-Bergstrasse-3860x2394-2560x1588.jpg" width="2560" height="1588" />
				</a>
				<figcaption class="orbit-caption">
					<p>Zu den Teilintegrierten</p>
				</figcaption>
			</figure>
			<!-- content collection END: /sites/foundation-site/node-57a9efbfea1dc/node-57aa363fdfafb/main@live -->
		</div>
	</main>
	<footer>
		<!-- PLEASE ADD YOUR OWN HTML HERE -->
	</footer>
</body>
</body></html>
