<!DOCTYPE html><html>
<head><meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carado</title>
	<link rel="stylesheet" href="/Resources/Public/Styles/App.css" media="all"/>
	<link rel="stylesheet" href="/Resources/Public/Styles/Backend.css" media="all" />
	<script src="/Resources/Public/Scripts/App.js"></script>
	<meta name="robots" content="index,follow" /><link rel="canonical" href="/" /></head><body class="homepage layout-container">
	
	<!-- content collection START: /sites/foundation-site/intro@live -->
	<div class="m12-foundation-container homepage-teaser" style="background-repeat:no-repeat; background-position:center; background-size:cover; background-image:url(/Resources/Public/ContentImages/Wohnmobil-auf-Berg-Startseitenteaser.jpg); ">
		<figure class="typo3-neos-nodetypes-image">
			<img title="Carado" alt="Carado" src="/Resources/Public/ContentImages/carado-logo.png" width="180" height="72" />
		</figure>
		<!-- TYPO3.Neos.NodeTypes:Headline -->
		<h1>Ein ganz besonderer Urlaubslook: das Editionspaket Perfect 10<br/></h1>
		<!-- /TYPO3.Neos.NodeTypes:Headline -->
		<a class="m12-foundation-link" title="Go to content">
			Go to content
		</a>
		<button class="m12-foundation-button" type="button">
			Jetzt konfigurieren
		</button>
	</div>
	<!-- content collection END: /sites/foundation-site/intro@live -->
	<!-- content collection START: /sites/foundation-site/top@live -->
	<div class="sticky">
		<ul class="m12-foundation-sidenav side-nav main-navigation">
			<!-- this naviagtion should be used as main naviagtion on desktop (hiding all sub ul) and on mobile as full navigation -->
			<dt></dt>
			<li class="menu-item--modelle has-dropdown">
				<a href="/modelle.html">Modelle</a>
				<ul>
					<li class="menu-item--alkoven">
						<a href="/modelle/alkoven.html">Alkoven</a>
					</li>
					<li class="menu-item--teilintegrierte">
						<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--service-zubehoer has-dropdown">
				<a href="/service-zubehoer.html">Service &amp; Zubehör</a>
				<ul>
					<li class="menu-item--fahrzeugsuche">
						<a href="/service-zubehoer/fahrzeugsuche.html">Fahrzeugsuche</a>
					</li>
					<li class="menu-item--carado-original-teile-zubehor">
						<a href="/service-zubehoer/carado-original-teile-zubehor.html">Carado Original Teile &amp; Zubehör</a>
					</li>
					<li class="menu-item--carado-freeontour-kundenkarte">
						<a href="/service-zubehoer/carado-freeontour-kundenkarte.html">Carado Freeontour Kundenkarte</a>
					</li>
					<li class="menu-item--finanzierung">
						<a href="/service-zubehoer/finanzierung.html">Finanzierung</a>
					</li>
					<li class="menu-item--ratgeberfilme">
						<a href="/service-zubehoer/ratgeberfilme.html">Ratgeberfilme</a>
					</li>
					<li class="menu-item--rettungskarten">
						<a href="/service-zubehoer/rettungskarten.html">Rettungskarten</a>
					</li>
					<li class="menu-item--bedienungsanleitungen">
						<a href="/service-zubehoer/bedienungsanleitungen.html">Bedienungsanleitungen</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--handelspartner">
				<a href="/handelspartner.html">Handelspartner</a>
			</li>
			<li class="menu-item--unternehmen">
				<a href="/unternehmen.html">Unternehmen</a>
			</li>
			<li class="menu-item--konfigurator">
				<a href="/konfigurator.html">Konfigurator</a>
			</li>
			<li class="menu-item--presse">
				<a href="/presse.html">Presse</a>
			</li>
		</ul>
	</div>
	<ul class="m12-foundation-sidenav side-nav language-navigation">
		<li class="m12-foundation-navitem active">
			<a>
				DE
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				EN
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				FR
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				ES
			</a>
		</li>
	</ul>
	<dl class="m12-foundation-subnav sub-nav sub-navigation">
		<!-- empty on the home page -->
	</dl>
	<!-- content collection END: /sites/foundation-site/top@live -->
	

	<main class="row">
		<div class="small-12 columns">
			<!-- content collection START: /sites/foundation-site/main@live -->
			<div class="m12-foundationsite-productline">
				<h2 class="headline">Unser Sortiment<br/>von A – T.</h2>
				<div class="intro">Kompakt, elegant, aerodynamisch. Unsere Modelle gibt es in verschiedenen Grundrissen und Betten-varianten. Aber eines haben sie alle gemeinsam: Sie machen eine gute Figur. Auch in engen Straßen und Gassen.</div>
				<div class="product1">
					<img src="/Resources/Public/Images/CA15_T339_Freisteller-gespiegelt.png">
					<div class="background-text">T-Serie</div>
					<div class="button">Teilintegrierte</div>
				</div>
				<div class="product2">
					<img src="/Resources/Public/Images/CA15_A461_Freisteller.png">
					<div class="background-text">A-Serie</div>
					<div class="button">Alkoven</div>
				</div>
			</div>
			<div class="m12-foundationsite-fullwidthimage" style="background-image: url(/Resources/Public/ContentImages/Entspannende-Natur-im-Wohnmobile.jpg);">
				<h2 class="headline">Mein Zelt hat vier Räder.</h2>
				<div class="text"><p>Ich mag das Gefühl, alles zu können. Ans Meer und in die Berge. Und zwar in einem Urlaub.</p></div>
			</div>
			<div class="m12-foundationsite-highlights">
				<div class="m12-foundationsite-highlights">
					<!-- PLEASE ADD YOUR OWN HTML HERE -->
				</div>
			</div>
			<div class="m12-foundationsite-fullwidthimage" style="background-image: url(/Resources/Public/ContentImages/Wohnmobil-faehrt-durch-Landschaft.jpg);">
				<h2 class="headline"> Ich mag die Ferne. Und die Nähe zu meinen Kindern.</h2>
				<div class="text"><p>Unterwegs mit meinen Liebsten. Nach Schweden. Oder doch nach Italien?  </p><p>Unterwegs mit meinen Liebsten. </p><p> </p><p>Nach Schweden. Oder doch nach Italien? </p><p> </p><p>Wenn sich das Wetter ändert, darf ich auch meine Meinung ändern.</p><p>Wenn sich das Wetter ändert, darf ich auch meine Meinung ändern.</p></div>
			</div>
			<div class="m12-foundationsite-highlights">
				<div class="m12-foundationsite-highlights">
					<!-- PLEASE ADD YOUR OWN HTML HERE -->
				</div>
			</div>
			<!-- content collection END: /sites/foundation-site/main@live -->
		</div>
	</main>
	
	
	<footer>
		<!-- PLEASE ADD YOUR OWN HTML HERE -->
	</footer>
</body></html>
