<!DOCTYPE html><html>
<head><meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carado Produktion - Carado</title>
	<link rel="stylesheet" href="/Resources/Public/Styles/App.css" media="all"/>
	<script src="/Resources/Public/Scripts/App.js"></script>
	<meta name="robots" content="index,follow" /><link rel="canonical" href="/unternehmen/carado-produktion.html" />
</head>
<body class="page layout-container">
	<!-- content collection START: /sites/foundation-site/top@live -->
	<div class="sticky">
		<ul class="m12-foundation-sidenav side-nav main-navigation">
			<dt></dt>
			<li class="menu-item--modelle has-dropdown">
				<a href="/modelle.html">Modelle</a>
				<ul>
					<li class="menu-item--die-basis">
						<a href="/modelle/die-basis.html">Die Basis</a>
					</li>
					<li class="menu-item--alkoven">
						<a href="/modelle/alkoven.html">Alkoven</a>
					</li>
					<li class="menu-item--teilintegrierte">
						<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--service-zubehoer has-dropdown">
				<a href="/service-zubehoer.html">Service &amp; Zubehör</a>
				<ul>
					<li class="menu-item--fahrzeugsuche">
						<a href="/service-zubehoer/fahrzeugsuche.html">Fahrzeugsuche</a>
					</li>
					<li class="menu-item--carado-original-teile-zubehor">
						<a href="/service-zubehoer/carado-original-teile-zubehor.html">Carado Original Teile &amp; Zubehör</a>
					</li>
					<li class="menu-item--carado-freeontour-kundenkarte">
						<a href="/service-zubehoer/carado-freeontour-kundenkarte.html">Carado Freeontour Kundenkarte</a>
					</li>
					<li class="menu-item--finanzierung">
						<a href="/service-zubehoer/finanzierung.html">Finanzierung</a>
					</li>
					<li class="menu-item--ratgeberfilme">
						<a href="/service-zubehoer/ratgeberfilme.html">Ratgeberfilme</a>
					</li>
					<li class="menu-item--rettungskarten">
						<a href="/service-zubehoer/rettungskarten.html">Rettungskarten</a>
					</li>
					<li class="menu-item--bedienungsanleitungen">
						<a href="/service-zubehoer/bedienungsanleitungen.html">Bedienungsanleitungen</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--handelspartner">
				<a href="/handelspartner.html">Handelspartner</a>
			</li>
			<li class="menu-item--unternehmen has-dropdown">
				<a href="/unternehmen.html">Unternehmen</a>
				<ul>
					<li class="menu-item--carado-produktion">
						<a href="/unternehmen/carado-produktion.html">Carado Produktion</a>
					</li>
					<li class="menu-item--werksfuehrung">
						<a href="/unternehmen/werksfuehrung.html">Werksführung</a>
					</li>
					<li class="menu-item--erwin-hymer-museum">
						<a href="/unternehmen/erwin-hymer-museum.html">Erwin Hymer Museum</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--konfigurator">
				<a href="/konfigurator.html">Konfigurator</a>
			</li>
			<li class="menu-item--presse active">
				<a href="/presse.html">Presse</a>
			</li>
		</ul>
	</div>
	<ul class="m12-foundation-sidenav side-nav language-navigation">
		<li class="m12-foundation-navitem active">
			<a>
				DE
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				EN
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				FR
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				ES
			</a>
		</li>
	</ul>
	<dl class="m12-foundation-subnav sub-nav sub-navigation">
		<dt></dt>
	</dl>
	<!-- content collection END: /sites/foundation-site/top@live -->
	<main class="row">
		<div class="small-12 columns">
			<!-- content collection START: /sites/foundation-site/node-57a9f3aaf2c94/main@live --><!-- TYPO3.Neos.NodeTypes:Headline -->
			<h1>Presse &amp;<br/>News</h1>
			<!-- /TYPO3.Neos.NodeTypes:Headline -->
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<p>In unserem Presseportal finden Sie aktuelle wie ältere Pressebilder, Pressemitteilungen, Pressemappen sowie Bildmaterial aus unseren Produkt-Katalogen. Sämtliche Motive sind exklusiv für Presseveröffentlichungen im Sinne des Presserechtes frei. Die gewerbliche Nutzung ist untersagt bzw. bedarf der ausdrücklichen Genehmigung der HYMER AG. Wir vermitteln Journalisten und Medienschaffenden Gespräche mit den Verantwortlichen unseres Hauses, stellen die Kontakte zu den gewünschten Ansprechpartnern her und liefern Hintergrundinfos in Form von Presseinformationen zu den Geschehnissen rund um die Marke Carado. Darüber hinaus betreuen wir Journalisten bei unseren Veranstaltungen und bearbeiten eingehende Presseanfragen. Ideen für Markenkooperationen und Gewinnspiele können Sie ebenfalls an uns richten. Bitte sprechen Sie den jeweiligen Ansprechpartner direkt an oder füllen Sie unser Formular aus.<br/><br/>Ihr Ansprechpartner bei Carado:<br/></p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<figure class="typo3-neos-nodetypes-image">
				<a href="mailto:Carina.Stroebele@carado.de">
					<img alt="Profilfoto: Clarina Stroebele" src="/Resources/Public/ContentImages/Profilfoto-Carina-Stroebele.jpg" width="198" height="198" />
				</a>
			</figure>
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<p>
				Carina Stroebele<br/><a href="mailto:Carina.Stroebele@carado.de">Carina.Stroebele@carado.de</a><br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- content collection END: /sites/foundation-site/node-57a9f3aaf2c94/main@live -->
		</div>
	</main>
	<footer>
		<!-- PLEASE ADD YOUR OWN HTML HERE -->
	</footer>
</body>
</body></html>
