<!DOCTYPE html><html>
<head><meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carado Produktion - Carado</title>
	<link rel="stylesheet" href="/_Resources/Static/Packages/M12.FoundationSite/Styles/App.css" media="all"/>
	<link rel="stylesheet" href="/_Resources/Static/Packages/M12.FoundationSite/Styles/Backend.css" media="all" />
	<script src="/_Resources/Static/Packages/M12.FoundationSite/Scripts/App.js"></script>
	<meta name="robots" content="index,follow" /><link rel="canonical" href="/unternehmen/carado-produktion.html" />
</head>
<body class="page layout-container">
	<!-- content collection START: /sites/foundation-site/top@live -->
	<div class="sticky">
		<ul class="m12-foundation-sidenav side-nav main-navigation">
			<dt></dt>
			<li class="menu-item--modelle active-trail has-dropdown">
				<a href="/modelle.html">Modelle</a>
				<ul>
					<li class="menu-item--die-basis">
						<a href="/modelle/die-basis.html">Die Basis</a>
					</li>
					<li class="menu-item--alkoven">
						<a href="/modelle/alkoven.html">Alkoven</a>
					</li>
					<li class="menu-item--teilintegrierte active">
						<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--service-zubehoer has-dropdown">
				<a href="/service-zubehoer.html">Service &amp; Zubehör</a>
				<ul>
					<li class="menu-item--fahrzeugsuche">
						<a href="/service-zubehoer/fahrzeugsuche.html">Fahrzeugsuche</a>
					</li>
					<li class="menu-item--carado-original-teile-zubehor">
						<a href="/service-zubehoer/carado-original-teile-zubehor.html">Carado Original Teile &amp; Zubehör</a>
					</li>
					<li class="menu-item--carado-freeontour-kundenkarte">
						<a href="/service-zubehoer/carado-freeontour-kundenkarte.html">Carado Freeontour Kundenkarte</a>
					</li>
					<li class="menu-item--finanzierung">
						<a href="/service-zubehoer/finanzierung.html">Finanzierung</a>
					</li>
					<li class="menu-item--ratgeberfilme">
						<a href="/service-zubehoer/ratgeberfilme.html">Ratgeberfilme</a>
					</li>
					<li class="menu-item--rettungskarten">
						<a href="/service-zubehoer/rettungskarten.html">Rettungskarten</a>
					</li>
					<li class="menu-item--bedienungsanleitungen">
						<a href="/service-zubehoer/bedienungsanleitungen.html">Bedienungsanleitungen</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--handelspartner">
				<a href="/handelspartner.html">Handelspartner</a>
			</li>
			<li class="menu-item--unternehmen has-dropdown">
				<a href="/unternehmen.html">Unternehmen</a>
				<ul>
					<li class="menu-item--carado-produktion">
						<a href="/unternehmen/carado-produktion.html">Carado Produktion</a>
					</li>
					<li class="menu-item--werksfuehrung">
						<a href="/unternehmen/werksfuehrung.html">Werksführung</a>
					</li>
					<li class="menu-item--erwin-hymer-museum">
						<a href="/unternehmen/erwin-hymer-museum.html">Erwin Hymer Museum</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--konfigurator">
				<a href="/konfigurator.html">Konfigurator</a>
			</li>
			<li class="menu-item--presse">
				<a href="/presse.html">Presse</a>
			</li>
		</ul>
	</div>
	<ul class="m12-foundation-sidenav side-nav language-navigation">
		<li class="m12-foundation-navitem active">
			<a>
				DE
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				EN
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				FR
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				ES
			</a>
		</li>
	</ul>
	<div class="sticky">
		<dl class="m12-foundation-subnav sub-nav show-for-medium-up sub-navigation">
			<dt></dt>
			<dd class="menu-item--die-basis">
				<a href="/modelle/die-basis.html">Die Basis</a>
			</dd>
			<dd class="menu-item--alkoven">
				<a href="/modelle/alkoven.html">Alkoven</a>
			</dd>
			<dd class="menu-item--teilintegrierte active">
				<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
			</dd>
		</dl>
	</div>
	<!-- content collection END: /sites/foundation-site/top@live -->
	<main class="row">
		<div class="small-12 columns">
			<!-- content collection START: /sites/foundation-site/node-57a9efbfea1dc/node-57a9f0c98432a/main@live --><!-- TYPO3.Neos.NodeTypes:Headline -->
			<h1>Die T-Serie:<br/> Schicke Raumwunder.</h1>
			<!-- /TYPO3.Neos.NodeTypes:Headline --><!-- TYPO3.Neos.NodeTypes:Text -->
			<p>Kompakt, elegant, aerodynamisch. Die Teilintegrierten gibt’s in verschiedenen Grundrissen und Bettenvarianten. Aber eines haben sie alle gemeinsam: Sie machen eine gute Figur. Auch in engen Straßen und Gassen.</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- M12.Foundation:Orbit -->
			<ul class="m12-foundation-orbit" data-options="bullets:true;navigation_arrows:true;next_on_click:true;slide_number:false;timer:true;variable_height:true;swipe:true;pause_on_hover:true;resume_on_mouseout:true;next_on_click:false;" data-orbit>
				<li data-orbit-slide="1">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/3cd5fc10c28b06ca8c2a3f14e90bbabcc194af69/Wohnmobil-auf-Berg-Startseitenteaser.jpg" width="1600" height="954" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448</p>
						</figcaption>
					</figure>
				</li>
				<li data-orbit-slide="2">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/3cd5fc10c28b06ca8c2a3f14e90bbabcc194af69/Wohnmobil-auf-Berg-Startseitenteaser.jpg" width="1600" height="954" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448<br/>
							</p>
						</figcaption>
					</figure>
				</li>
				<li data-orbit-slide="3">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/3cd5fc10c28b06ca8c2a3f14e90bbabcc194af69/Wohnmobil-auf-Berg-Startseitenteaser.jpg" width="1600" height="954" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448<br/>
							</p>
						</figcaption>
					</figure>
				</li>
			</ul>
			<!-- /M12.Foundation:Orbit -->
			<!-- TYPO3.Neos.NodeTypes:Headline -->
			<a data-magellan-destination="querbett" id="querbett">
			</a>
			<h1>Querbett im Heck.</h1>
			<p> </p>
			<h3>Erhältlich ab 37.500€<br/>
			</h3>
			<!-- /TYPO3.Neos.NodeTypes:Headline -->
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<p>
				<br/><br/>
				??????? NOT SURE HOW THIS COMPONENT SHOULD LOOK LIKE YET ????????
				<br/><br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- M12.Foundation:Orbit -->
			<ul class="m12-foundation-orbit" data-options="bullets:true;navigation_arrows:true;next_on_click:true;slide_number:false;timer:true;variable_height:true;swipe:true;pause_on_hover:true;resume_on_mouseout:true;next_on_click:false;" data-orbit>
				<li data-orbit-slide="1">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/f4cce76608c5a8d576ef2829f86694803eb82003/Carado-GmbH-Modell-T334-Tiefer-Schlaf-und-ganz-viel-Platz-im-bequemen-Querbett.jpg" width="2252" height="1582" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448<br/>
							</p>
						</figcaption>
					</figure>
				</li>
			</ul>
			<!-- /M12.Foundation:Orbit -->
			<button class="m12-foundation-button" type="button">
				Jetzt konfigurieren
			</button>
			<!-- TYPO3.Neos.NodeTypes:Headline -->
			<h1>Französisches<br/>Bett im Heck</h1>
			<h3>Erhältlich ab 37.500€<br/>
			</h3>
			<!-- /TYPO3.Neos.NodeTypes:Headline -->
			<!-- TYPO3.Neos.NodeTypes:Text -->
			<p>
				<br/><br/>
				??????? NOT SURE HOW THIS COMPONENT SHOULD LOOK LIKE YET ????????
				<br/><br/>
			</p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<!-- M12.Foundation:Orbit -->
			<ul class="m12-foundation-orbit" data-options="bullets:true;navigation_arrows:true;next_on_click:true;slide_number:false;timer:true;variable_height:true;swipe:true;pause_on_hover:true;resume_on_mouseout:true;next_on_click:false;" data-orbit>
				<li data-orbit-slide="1">
					<figure class="typo3-neos-nodetypes-image">
						<img alt=" " src="/_Resources/Persistent/f4cce76608c5a8d576ef2829f86694803eb82003/Carado-GmbH-Modell-T334-Tiefer-Schlaf-und-ganz-viel-Platz-im-bequemen-Querbett.jpg" width="2252" height="1582" />
						<figcaption class="orbit-caption">
							<p>Darstellung am Beispiel des T448<br/>
							</p>
						</figcaption>
					</figure>
				</li>
			</ul>
			<!-- /M12.Foundation:Orbit -->
			<button class="m12-foundation-button" type="button">
				Jetzt konfigurieren
			</button>
			<!-- content collection END: /sites/foundation-site/node-57a9efbfea1dc/node-57a9f0c98432a/main@live -->
		</div>
	</main>
	<footer>
		<!-- PLEASE ADD YOUR OWN HTML HERE -->
	</footer>
</body>
</body></html>
