<!DOCTYPE html><html>
<head><meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carado Produktion - Carado</title>
	<link rel="stylesheet" href="/_Resources/Static/Packages/M12.FoundationSite/Styles/App.css" media="all"/>
	<link rel="stylesheet" href="/_Resources/Static/Packages/M12.FoundationSite/Styles/Backend.css" media="all" />
	<script src="/_Resources/Static/Packages/M12.FoundationSite/Scripts/App.js"></script>
	<meta name="robots" content="index,follow" /><link rel="canonical" href="/unternehmen/carado-produktion.html" />
</head>
<body class="page layout-container">
	<!-- content collection START: /sites/foundation-site/top@live -->
	<div class="sticky">
		<ul class="m12-foundation-sidenav side-nav main-navigation">
			<dt></dt>
			<li class="menu-item--modelle has-dropdown">
				<a href="/modelle.html">Modelle</a>
				<ul>
					<li class="menu-item--alkoven">
						<a href="/modelle/alkoven.html">Alkoven</a>
					</li>
					<li class="menu-item--teilintegrierte">
						<a href="/modelle/teilintegrierte.html">Teilintegrierte</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--service-zubehoer has-dropdown">
				<a href="/service-zubehoer.html">Service &amp; Zubehör</a>
				<ul>
					<li class="menu-item--fahrzeugsuche">
						<a href="/service-zubehoer/fahrzeugsuche.html">Fahrzeugsuche</a>
					</li>
					<li class="menu-item--carado-original-teile-zubehor">
						<a href="/service-zubehoer/carado-original-teile-zubehor.html">Carado Original Teile &amp; Zubehör</a>
					</li>
					<li class="menu-item--carado-freeontour-kundenkarte">
						<a href="/service-zubehoer/carado-freeontour-kundenkarte.html">Carado Freeontour Kundenkarte</a>
					</li>
					<li class="menu-item--finanzierung">
						<a href="/service-zubehoer/finanzierung.html">Finanzierung</a>
					</li>
					<li class="menu-item--ratgeberfilme">
						<a href="/service-zubehoer/ratgeberfilme.html">Ratgeberfilme</a>
					</li>
					<li class="menu-item--rettungskarten">
						<a href="/service-zubehoer/rettungskarten.html">Rettungskarten</a>
					</li>
					<li class="menu-item--bedienungsanleitungen">
						<a href="/service-zubehoer/bedienungsanleitungen.html">Bedienungsanleitungen</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--handelspartner">
				<a href="/handelspartner.html">Handelspartner</a>
			</li>
			<li class="menu-item--unternehmen active-trail has-dropdown">
				<a href="/unternehmen.html">Unternehmen</a>
				<ul>
					<li class="menu-item--carado-produktion">
						<a href="/unternehmen/carado-produktion.html">Carado Produktion</a>
					</li>
					<li class="menu-item--werksfuehrung active">
						<a href="/unternehmen/werksfuehrung.html">Werksführung</a>
					</li>
					<li class="menu-item--erwin-hymer-museum">
						<a href="/unternehmen/erwin-hymer-museum.html">Erwin Hymer Museum</a>
					</li>
				</ul>
			</li>
			<li class="menu-item--konfigurator">
				<a href="/konfigurator.html">Konfigurator</a>
			</li>
			<li class="menu-item--presse">
				<a href="/presse.html">Presse</a>
			</li>
		</ul>
	</div>
	<ul class="m12-foundation-sidenav side-nav language-navigation">
		<li class="m12-foundation-navitem active">
			<a>
				DE
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				EN
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				FR
			</a>
		</li>
		<li class="m12-foundation-navitem">
			<a>
				ES
			</a>
		</li>
	</ul>

	<dl class="m12-foundation-subnav sub-nav sub-navigation">
		<dt></dt>
		<dd class="menu-item--carado-produktion">
			<a href="/unternehmen/carado-produktion.html">Carado Produktion</a>
		</dd>
		<dd class="menu-item--werksfuehrung active">
			<a href="/unternehmen/werksfuehrung.html">Werksführung</a>
		</dd>
		<dd class="menu-item--erwin-hymer-museum">
			<a href="/unternehmen/erwin-hymer-museum.html">Erwin Hymer Museum</a>
		</dd>
	</dl>
	<!-- content collection END: /sites/foundation-site/top@live -->
	<main class="row">
		<div class="small-12 columns">
			<!-- content collection START: /sites/foundation-site/node-57a9f3043b985/node-57aa1fbdebd54/main@live --><!-- TYPO3.Neos.NodeTypes:Headline -->
			<h1>Einblicke in die <br/>Produktion.<br/></h1>
			<!-- /TYPO3.Neos.NodeTypes:Headline --><!-- TYPO3.Neos.NodeTypes:Text -->
			<p>Wenn Sie die Entstehung unserer Carado Fahrzeuge vor Ort einmal selbst miterleben möchten bzw. Interesse an unseren Fertigungsmethoden haben, dann melden Sie sich doch zu einer unserer Werksführungen im Werk Capron in Neustadt in Sachsen an.<br/><br/>Aus betrieblichen Gründen können am 16. und 23. März, 15. und 22. Juni und 31. August 2016, sowie in der Zeit vom 11. Juli bis 12. August 2016 leider keine Werksbesichtigungen stattfinden. Vielen Dank für Ihr Verständnis.<br/><br/>Die Werksführungen finden ausschließlich Mittwochs um 10:00 Uhr statt.<br/></p>
			<!-- /TYPO3.Neos.NodeTypes:Text -->
			<form class="m12-foundation-form" method="get" action="#">
				<div style="display: none">
					<input type="hidden" name="__referrer[@package]" value="TYPO3.Neos" />
					<input type="hidden" name="__referrer[@subpackage]" value="" />
					<input type="hidden" name="__referrer[@controller]" value="Frontend\Node" />
					<input type="hidden" name="__referrer[@action]" value="show" />
					<input type="hidden" name="__referrer[arguments]" value="YToxOntzOjQ6Im5vZGUiO3M6NjU6Ii9zaXRlcy9mb3VuZGF0aW9uLXNpdGUvbm9kZS01N2E5ZjMwNDNiOTg1L25vZGUtNTdhYTFmYmRlYmQ1NEBsaXZlIjt92d32b5602320e05f90a42e8d109e9c5f9c0de36a" />
					<input type="hidden" name="__trustedProperties" value="a:0:{}e1302a38a6172a3441337556d6622c7670ee7d9a" />
				</div>
				<fieldset class="m12-foundation-formfieldset">
					<legend>Schreiben Sie uns (please hidden, just for blind people)</legend>
					<div class="m12-foundation-gridrow2col row">
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput" id="field-541d9e9a-76cd-41f6-aabd-53afeec75bfc" placeholder="Vorname" required="" type="text" name="field-541d9e9a-76cd-41f6-aabd-53afeec75bfc" />
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput error" id="field-05d95735-ad4b-406f-8428-18efcc980627" placeholder="Nachname" type="text" name="field-05d95735-ad4b-406f-8428-18efcc980627" value="" />
							<small class="error">Did you forgot your last name?</small>
						</div>
					</div>
					<div class="m12-foundation-gridrow2col row">
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput" id="field-498c9b27-8ec6-409b-b55a-1dfee58639ae" placeholder="Straße" required="" type="text" name="field-498c9b27-8ec6-409b-b55a-1dfee58639ae" />
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput" id="field-2807850a-2ec0-47ba-bdf7-9e6205b2a0f3" placeholder="Nr." type="text" name="field-2807850a-2ec0-47ba-bdf7-9e6205b2a0f3" value="" />
						</div>
					</div>
					<div class="m12-foundation-gridrow2col row">
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput" id="field-597f8ad0-9949-47ef-8e06-c13abd9dfffd" placeholder="PLZ" type="text" name="field-597f8ad0-9949-47ef-8e06-c13abd9dfffd" />
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput" id="field-77aa7555-bae4-4583-8334-af003c0937e6" placeholder="Ort" type="text" name="field-77aa7555-bae4-4583-8334-af003c0937e6" value="" />
						</div>
					</div>
					<div class="m12-foundation-gridrow2col row">
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput" id="field-5d395d46-976e-417c-a394-94ec60428919" placeholder="Telefon" type="text" name="field-5d395d46-976e-417c-a394-94ec60428919" />
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput" id="field-a5c50557-c3a4-4fda-b40f-e2f251a5425a" placeholder="E-Mail" type="text" name="field-a5c50557-c3a4-4fda-b40f-e2f251a5425a" value="" />
						</div>
					</div>
					<div class="m12-foundation-gridrow2col row">
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<input class="m12-foundation-forminput datepicker" id="field-1a8a55e0-a8cc-46ad-97ae-184760f84c68" placeholder="Termin" type="text" name="field-1a8a55e0-a8cc-46ad-97ae-184760f84c68" />
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6">
							<label for="field-10f0d504-2988-4857-8c6b-c04d9fd10245">
								Anz. Personen
								<select class="m12-foundation-forminputselect" id="field-10f0d504-2988-4857-8c6b-c04d9fd10245" name="field-10f0d504-2988-4857-8c6b-c04d9fd10245"><option value="" selected="selected"></option>
								</select>
							</label>
						</div>
					</div>
					<div class="m12-foundation-gridrow4col row">
						<div class="m12-foundation-gridcolumn columns small-12 medium-6 large-3">
							<input class="m12-foundation-forminput radius" id="field-95740600-efdb-4718-9791-cdfe68d3ed04" placeholder="disabled status" disabled="" type="text" name="field-95740600-efdb-4718-9791-cdfe68d3ed04" />
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6 large-3">
							<div class="m12-foundation-gridrow2col row collapse">
								<div class="m12-foundation-gridcolumn columns small-8">
									<input class="m12-foundation-forminput radius" id="field-739702e0-d35e-4ef3-b741-c51647130059" placeholder="your-domain" type="text" name="field-739702e0-d35e-4ef3-b741-c51647130059" />
								</div>
								<div class="m12-foundation-gridcolumn columns small-4">
									<span class="m12-foundation-forminputprepostfix postfix">
										.com
									</span>
								</div>
							</div>
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6 large-3">
							<label for="field-d12ea20c-2f79-4ec4-a406-5cdbafcbd72e">
								Input 3
								<input class="m12-foundation-forminput radius" id="field-d12ea20c-2f79-4ec4-a406-5cdbafcbd72e" type="text" name="field-d12ea20c-2f79-4ec4-a406-5cdbafcbd72e" />
							</label>
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6 large-3">
							<label for="field-b4c69d68-d9a9-4be7-b606-fe2cf07361a2">
								Input 4
								<select class="m12-foundation-forminputselect radius" id="field-b4c69d68-d9a9-4be7-b606-fe2cf07361a2" name="field-b4c69d68-d9a9-4be7-b606-fe2cf07361a2"><option value=""></option>
									<option value="Option 1">Option 1</option>
									<option value="Option 2">Option 2</option>
									<option value="Option 3">Option 3</option>
								</select>
							</label>
						</div>
					</div>
					<div class="m12-foundation-gridrow2col row">
						<div class="m12-foundation-gridcolumn columns small-12 medium-6 large-3">
							<label class="m12-foundation-formlabel" for="">Choose colour</label>
							<input class="m12-foundation-forminputcheckbox" id="field-427db6b0-92b8-4e2b-9dbf-3382122fca2b" checked="" type="checkbox" name="field-427db6b0-92b8-4e2b-9dbf-3382122fca2b" /><label for="field-427db6b0-92b8-4e2b-9dbf-3382122fca2b">Red</label>
							<input class="m12-foundation-forminputcheckbox" id="field-e99a7e8b-1734-4fa1-bca6-77d779a4bcdd" type="checkbox" name="field-e99a7e8b-1734-4fa1-bca6-77d779a4bcdd" /><label for="field-e99a7e8b-1734-4fa1-bca6-77d779a4bcdd">Black</label>
						</div>
						<div class="m12-foundation-gridcolumn columns small-12 medium-6 large-3">
							<label class="m12-foundation-formlabel" for="">Choose option</label>
							<input class="m12-foundation-forminputradio" id="field-0f67ad8c-4c81-49cc-b35c-1b15bfffe886" type="radio" name="option" /><label for="field-0f67ad8c-4c81-49cc-b35c-1b15bfffe886">Option 1</label>
							<input class="m12-foundation-forminputradio" id="field-1ae75568-8e3c-4cdf-b488-b6933e099959" type="radio" name="option" /><label for="field-1ae75568-8e3c-4cdf-b488-b6933e099959">Option 2</label>
						</div>
					</div>
					<div class="m12-foundation-gridrow1col row">
						<div class="m12-foundation-gridcolumn columns small-8 medium-4 small-centered text-center">
							<textarea class="m12-foundation-forminputtextarea" id="field-cc4cbf9b-1ac8-4e09-aa1f-3b0198b631b7" placeholder="Write something..." rows="2" name="field-cc4cbf9b-1ac8-4e09-aa1f-3b0198b631b7"></textarea>

							<button class="m12-foundation-button tip-left success radius" title="You can submit me..." data-tooltip aria-haspopup="true" type="button">
								Absenden
							</button>
							<i class="fa tip-right fa-spinner fa-2x fa-spin" style="position:absolute;margin:0.6rem 1rem" title="Loading..." data-tooltip aria-haspopup="true"></i>
							<div class="typo3-neos-nodetypes-text text-xsmall">
								<div></div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
			<!-- content collection END: /sites/foundation-site/node-57a9f3043b985/node-57aa1fbdebd54/main@live -->
		</div>
	</main>
	<footer>
		<!-- PLEASE ADD YOUR OWN HTML HERE -->
	</footer>
</body>
</body></html>
